In [1]:
import pandas as pd

df = pd.read_csv("Telco-Customer-Churn.csv")
df

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

In [2]:
df.dtypes

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [5]:
df['TotalCharges'].replace(" ", pd.NA, inplace=True)

In [6]:
df['TotalCharges'].isna().sum()

np.int64(11)

In [7]:
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], errors='coerce')

In [8]:
for col in df.columns:
    print(f"Column: {col}")
    print(df[col].unique())
    print(len(df[col].unique()))
    print("-" * 30)

Column: customerID
['7590-VHVEG' '5575-GNVDE' '3668-QPYBK' ... '4801-JZAZL' '8361-LTMKD'
 '3186-AJIEK']
7043
------------------------------
Column: gender
['Female' 'Male']
2
------------------------------
Column: SeniorCitizen
[0 1]
2
------------------------------
Column: Partner
['Yes' 'No']
2
------------------------------
Column: Dependents
['No' 'Yes']
2
------------------------------
Column: tenure
[ 1 34  2 45  8 22 10 28 62 13 16 58 49 25 69 52 71 21 12 30 47 72 17 27
  5 46 11 70 63 43 15 60 18 66  9  3 31 50 64 56  7 42 35 48 29 65 38 68
 32 55 37 36 41  6  4 33 67 23 57 61 14 20 53 40 59 24 44 19 54 51 26  0
 39]
73
------------------------------
Column: PhoneService
['No' 'Yes']
2
------------------------------
Column: MultipleLines
['No phone service' 'No' 'Yes']
3
------------------------------
Column: InternetService
['DSL' 'Fiber optic' 'No']
3
------------------------------
Column: OnlineSecurity
['No' 'Yes' 'No internet service']
3
------------------------------
Column: OnlineBackup
['Yes' 'No' 'No internet service']
3
------------------------------
Column: DeviceProtection
['No' 'Yes' 'No internet service']
3
------------------------------
Column: TechSupport
['No' 'Yes' 'No internet service']
3
------------------------------
Column: StreamingTV
['No' 'Yes' 'No internet service']
3
------------------------------
Column: StreamingMovies
['No' 'Yes' 'No internet service']
3
------------------------------
Column: Contract
['Month-to-month' 'One year' 'Two year']
3
------------------------------
Column: PaperlessBilling
['Yes' 'No']
2
------------------------------
Column: PaymentMethod
['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']
4
------------------------------
Column: MonthlyCharges
[29.85 56.95 53.85 ... 63.1  44.2  78.7 ]
1585
------------------------------
Column: TotalCharges
[  29.85 1889.5   108.15 ...  346.45  306.6  6844.5 ]
6531
------------------------------
Column: Churn
['No' 'Yes']
2
------------------------------

In [9]:
df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")

In [10]:
df.dtypes

customerid           object
gender               object
seniorcitizen         int64
partner              object
dependents           object
tenure                int64
phoneservice         object
multiplelines        object
internetservice      object
onlinesecurity       object
onlinebackup         object
deviceprotection     object
techsupport          object
streamingtv          object
streamingmovies      object
contract             object
paperlessbilling     object
paymentmethod        object
monthlycharges      float64
totalcharges        float64
churn                object
dtype: object

In [11]:
yes_no_cols = ['partner', 'dependents', 'phoneservice', 'paperlessbilling', 'churn']

for col in yes_no_cols:
    df[col] = df[col].map({'Yes': True, 'No': False})

💡 Why:
Booleans are efficient and make your data easier to work with in analysis or modeling.

In [13]:
cat_cols = ['gender', 'multiplelines', 'internetservice', 'onlinesecurity', 'onlinebackup',
            'deviceprotection', 'techsupport', 'streamingtv', 'streamingmovies',
            'contract', 'paymentmethod']

for col in cat_cols:
    df[col] = df[col].astype('category')

In [16]:
df['seniorcitizen'].unique()  # Should be [0, 1]
df['seniorcitizen'] = df['seniorcitizen'].astype(bool)

In [17]:
df.dtypes

customerid            object
gender              category
seniorcitizen           bool
partner                 bool
dependents              bool
tenure                 int64
phoneservice            bool
multiplelines       category
internetservice     category
onlinesecurity      category
onlinebackup        category
deviceprotection    category
techsupport         category
streamingtv         category
streamingmovies     category
contract            category
paperlessbilling        bool
paymentmethod       category
monthlycharges       float64
totalcharges         float64
churn                   bool
dtype: object

In [18]:
df

,customerid,gender,seniorcitizen,partner,dependents,tenure,phoneservice,multiplelines,internetservice,onlinesecurity,...,deviceprotection,techsupport,streamingtv,streamingmovies,contract,paperlessbilling,paymentmethod,monthlycharges,totalcharges,churn
0,7590-VHVEG,Female,False,True,False,1,False,No phone service,DSL,No,...,No,No,No,No,Month-to-month,True,Electronic check,29.85,29.85,False
1,5575-GNVDE,Male,False,False,False,34,True,No,DSL,Yes,...,Yes,No,No,No,One year,False,Mailed check,56.95,1889.50,False
2,3668-QPYBK,Male,False,False,False,2,True,No,DSL,Yes,...,No,No,No,No,Month-to-month,True,Mailed check,53.85,108.15,True
3,7795-CFOCW,Male,False,False,False,45,False,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,False,Bank transfer (automatic),42.30,1840.75,False
4,9237-HQITU,Female,False,False,False,2,True,No,Fiber optic,No,...,No,No,No,No,Month-to-month,True,Electronic check,70.70,151.65,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,False,True,True,24,True,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,True,Mailed check,84.80,1990.50,False
7039,2234-XADUH,Female,False,True,True,72,True,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,True,Credit card (automatic),103.20,7362.90,False
7040,4801-JZAZL,Female,False,True,True,11,False,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,True,Electronic check,29.60,346.45,False
7041,8361-LTMKD,Male,True,True,False,4,True,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,True,Mailed check,74.40,306.60,True
7042,3186-AJIEK,Male,False,False,False,66,True,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,True,Bank transfer (automatic),105.65,6844.50,False

In [19]:
df['customerid'] = df['customerid'].astype('string')

In [20]:
df.dtypes

customerid          string[python]
gender                    category
seniorcitizen                 bool
partner                       bool
dependents                    bool
tenure                       int64
phoneservice                  bool
multiplelines             category
internetservice           category
onlinesecurity            category
onlinebackup              category
deviceprotection          category
techsupport               category
streamingtv               category
streamingmovies           category
contract                  category
paperlessbilling              bool
paymentmethod             category
monthlycharges             float64
totalcharges               float64
churn                         bool
dtype: object

In [21]:
df.duplicated().sum()

np.int64(0)

In [22]:
df[['tenure', 'monthlycharges', 'totalcharges']].describe()

            tenure  monthlycharges  totalcharges
count  7043.000000     7043.000000   7032.000000
mean     32.371149       64.761692   2283.300441
std      24.559481       30.090047   2266.771362
min       0.000000       18.250000     18.800000
25%       9.000000       35.500000    401.450000
50%      29.000000       70.350000   1397.475000
75%      55.000000       89.850000   3794.737500
max      72.000000      118.750000   8684.800000

🧹 Data Cleaning & Preprocessing Summary
We performed the following cleaning and preprocessing steps on the Telco Customer Churn dataset:

1. Null Values Check:

Verified there are no missing values using df.isnull().sum().

2. Data Type Fixes:

Converted customerid to string[python] (not category, as values are unique).

Converted seniorcitizen to bool (already in correct format).

Converted binary Yes/No columns to boolean:

partner, dependents, phoneservice, paperlessbilling, churn

3. Category Columns Optimization:

Converted applicable columns to category for efficient memory usage:

gender, multiplelines, internetservice, onlinesecurity, onlinebackup, deviceprotection, techsupport, streamingtv, streamingmovies, contract, paymentmethod

4. String Cleanup:

Replaced 'No internet service' and 'No phone service' with 'No' in relevant columns to simplify values.

5. Numeric Type Conversion:

Converted totalcharges to float64 for proper numerical analysis (after handling blank strings if required).

Ensured monthlycharges and tenure remain as numeric types.

6. Duplicates Check:

Confirmed no duplicate rows exist using df.duplicated().sum().

In [23]:
df.to_csv("telco_cleaned.csv", index=False)

In [24]:
df

,customerid,gender,seniorcitizen,partner,dependents,tenure,phoneservice,multiplelines,internetservice,onlinesecurity,...,deviceprotection,techsupport,streamingtv,streamingmovies,contract,paperlessbilling,paymentmethod,monthlycharges,totalcharges,churn
0,7590-VHVEG,Female,False,True,False,1,False,No phone service,DSL,No,...,No,No,No,No,Month-to-month,True,Electronic check,29.85,29.85,False
1,5575-GNVDE,Male,False,False,False,34,True,No,DSL,Yes,...,Yes,No,No,No,One year,False,Mailed check,56.95,1889.50,False
2,3668-QPYBK,Male,False,False,False,2,True,No,DSL,Yes,...,No,No,No,No,Month-to-month,True,Mailed check,53.85,108.15,True
3,7795-CFOCW,Male,False,False,False,45,False,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,False,Bank transfer (automatic),42.30,1840.75,False
4,9237-HQITU,Female,False,False,False,2,True,No,Fiber optic,No,...,No,No,No,No,Month-to-month,True,Electronic check,70.70,151.65,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,False,True,True,24,True,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,True,Mailed check,84.80,1990.50,False
7039,2234-XADUH,Female,False,True,True,72,True,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,True,Credit card (automatic),103.20,7362.90,False
7040,4801-JZAZL,Female,False,True,True,11,False,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,True,Electronic check,29.60,346.45,False
7041,8361-LTMKD,Male,True,True,False,4,True,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,True,Mailed check,74.40,306.60,True
7042,3186-AJIEK,Male,False,False,False,66,True,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,True,Bank transfer (automatic),105.65,6844.50,False

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerid        7043 non-null   string
 1   gender            7043 non-null   category
 2   seniorcitizen     7043 non-null   bool
 3   partner           7043 non-null   bool
 4   dependents        7043 non-null   bool
 5   tenure            7043 non-null   int64
 6   phoneservice      7043 non-null   bool
 7   multiplelines     7043 non-null   category
 8   internetservice   7043 non-null   category
 9   onlinesecurity    7043 non-null   category
 10  onlinebackup      7043 non-null   category
 11  deviceprotection  7043 non-null   category
 12  techsupport       7043 non-null   category
 13  streamingtv       7043 non-null   category
 14  streamingmovies   7043 non-null   category
 15  contract          7043 non-null   category
 16  paperlessbilling  7043 non-null   bool
 17  paymentmethod     7043 non-null   category
 18  monthlycharges    7043 non-null   float64
 19  totalcharges      7032 non-null   float64
 20  churn             7043 non-null   bool
dtypes: bool(6), category(11), float64(2), int64(1), string(1)
memory usage: 338.6 KB