In [1]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35], 'City': ['NY', 'LA', 'SF']}
df = pd.DataFrame(data)

print(df.iloc[:, [0, 2]])  # Selects first (0) and third (2) column

      Name City
0    Alice   NY
1      Bob   LA
2  Charlie   SF

In [2]:
import pandas as pd
data = {'Name': ['Alice', 'Bob'], 'Age': [25, 30]}
df = pd.DataFrame(data)

for index, row in df.iterrows():
    print(f"Index: {index}, Name: {row['Name']}, Age: {row['Age']}")

Index: 0, Name: Alice, Age: 25
Index: 1, Name: Bob, Age: 30

In [5]:
df.values #

array([['Alice', 25],
       ['Bob', 30]], dtype=object)

In [6]:
for i in df.values:
    print(i)

['Alice' 25]
['Bob' 30]

In [7]:
df.items

<bound method DataFrame.items of     Name  Age
0  Alice   25
1    Bob   30>

In [11]:
for i, v in df.items():
    print(i, v)

Name 0    Alice
1      Bob
Name: Name, dtype: object
Age 0    25
1    30
Name: Age, dtype: int64

In [12]:
df.index

RangeIndex(start=0, stop=2, step=1)