In [2]:
import pandas as pd

df = pd.read_csv('Divvy_Trips_2019_Q1.csv')

df.head()

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear
0,21742443,2019-01-01 00:04:37,2019-01-01 00:11:07,2167,390.0,199,Wabash Ave & Grand Ave,84,Milwaukee Ave & Grand Ave,Subscriber,Male,1989.0
1,21742444,2019-01-01 00:08:13,2019-01-01 00:15:34,4386,441.0,44,State St & Randolph St,624,Dearborn St & Van Buren St (*),Subscriber,Female,1990.0
2,21742445,2019-01-01 00:13:23,2019-01-01 00:27:12,1524,829.0,15,Racine Ave & 18th St,644,Western Ave & Fillmore St (*),Subscriber,Female,1994.0
3,21742446,2019-01-01 00:13:45,2019-01-01 00:43:28,252,"1,783.0",123,California Ave & Milwaukee Ave,176,Clark St & Elm St,Subscriber,Male,1993.0
4,21742447,2019-01-01 00:14:52,2019-01-01 00:20:56,1170,364.0,173,Mies van der Rohe Way & Chicago Ave,35,Streeter Dr & Grand Ave,Subscriber,Male,1994.0

In [20]:
df['start_time'] = pd.to_datetime(df['start_time'], errors='coerce')
df['end_time'] = pd.to_datetime(df['end_time'], errors='coerce')

df['ride_length'] = df['end_time'] - df['start_time']

In [14]:
ride_length_mean =  df['ride_length'].mean()

In [21]:
ride_length_max = df['ride_length'].max()

In [24]:
ride_length_mean

Timedelta('0 days 00:16:56.489992302')

In [26]:
df['day_of_week'] = df['start_time'].dt.weekday

In [29]:
day_of_week_mode = df['day_of_week'].mode()

In [30]:
day_of_week_mode

0    3
Name: day_of_week, dtype: int32

In [32]:
df['usertype'].unique()

array(['Subscriber', 'Customer'], dtype=object)

In [ ]:
df.pivot(df, index='', columns='')